@import '../../../sass/main.scss';

.page {
  background-color: $white;
  // reset page dimensions
  margin: 0;
  padding: $spacing-20;
  // align the page in the center of the screen
  @include margin-auto-horizontal;

  // background-color: $theme-sirroco;

  width: 100%;

  @include standard-page-responsiveness;

  & > * {
    margin-bottom: $spacing-20; // @STANDARD -- Page spacing between elements

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
