@import '../../sass/main.scss';

.nav-brand {
  @include standard-transition;
  @include heading-3;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  padding-left: $spacing-20;

  &:hover {
    color: $blue-600;
  }
  &:active {
    color: $blue-800;
  }

  @include respond-to-min-breakpoint($breakpoint-device-width-1600) {
  }
  @include respond-to-min-breakpoint($breakpoint-device-width-1920) {
  }
  @include respond-to-min-breakpoint($breakpoint-device-width-2560) {
    @include heading-2;
  }
  @include respond-to-min-breakpoint($breakpoint-device-width-3840) {
    @include heading-1;
  }
  @include respond-to-min-breakpoint($breakpoint-device-width-5120) {
  }
}
