@mixin red-button($status: 'none') {
  cursor: pointer;
  background-color: $theme-flamingo-red;
  border: none;
  color: $white;

  &:hover {
    background-color: $theme-flamingo-red-hover;
  }
  &:active {
    background-color: $theme-flamingo-red-active;
  }

  @if ($status == 'lock-hover') {
    background-color: $theme-flamingo-red-hover !important;
  }
  @if ($status == 'lock-active') {
    background-color: $theme-flamingo-red-active !important;
  }
}

@mixin nebula-button($status: 'none') {
  cursor: pointer;
  background-color: $theme-nebula;
  border: 3px solid $theme-nebula-hover;
  border-radius: 5px;

  &:hover {
    background-color: $theme-nebula-hover;
  }
  &:active {
    background-color: $theme-nebula-active;
  }

  @if ($status == 'lock-hover') {
    background-color: $theme-nebula-hover !important;
  }
  @if ($status == 'lock-active') {
    background-color: $theme-nebula-active !important;
  }
}

@mixin nebula-button-secondary($status: 'none') {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid $theme-nebula-hover;
  border-radius: 5px;

  &:hover {
    background-color: $theme-nebula-hover;
  }
  &:active {
    background-color: $theme-nebula-active;
  }

  @if ($status == 'lock-hover') {
    background-color: $theme-nebula-hover !important;
  }
  @if ($status == 'lock-active') {
    background-color: $theme-nebula-active !important;
  }
}

@mixin blue-button($status: 'none') {
  cursor: pointer;
  background-color: $theme-downy-light-blue;

  &:hover {
    background-color: $theme-downy-light-blue-hover;
  }
  &:active {
    background-color: $theme-downy-light-blue-active;
  }

  @if ($status == 'lock-hover') {
    background-color: $theme-downy-light-blue-hover !important;
  }
  @if ($status == 'lock-active') {
    background-color: $theme-downy-light-blue-active !important;
  }
}

@mixin blue-button-secondary($status: 'none') {
  cursor: pointer;
  border: 3px solid $theme-downy-light-blue-hover;
  border-radius: 5px;

  &:hover {
    background-color: $theme-downy-light-blue-hover;
  }
  &:active {
    background-color: $theme-downy-light-blue-active;
  }

  @if ($status == 'lock-hover') {
    background-color: $theme-downy-light-blue-hover !important;
  }
  @if ($status == 'lock-active') {
    background-color: $theme-downy-light-blue-active !important;
  }
}
