@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin box-shadow-inset($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
  box-shadow: inset $horizontal $vertical $blur $spread $color;
}

@mixin standard-shadow {
  @include box-shadow(0px, 3px, 5px, 1px, $black-opaque-10);
}

@mixin standard-shadow-hover {
  @include box-shadow(0px, 5px, 8px, 2px, $black-opaque-20);
}

@mixin standard-shadow-inset {
  @include box-shadow-inset(0px, 0px, 5px, 1px, $black-opaque-20);
}

@mixin standard-shadow-inset-hover {
  // @include box-shadow-inset(0px, 0px, 20px, 10px, $black-opaque-70);
  @include box-shadow-inset(0px, 0px, 21px, 5px, $theme-space-gray);
}
