@mixin transition($delay) {
  -webkit-transition: $delay;
  -o-transition: $delay;
  transition: $delay;
}

@mixin transition-type($type) {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

@mixin standard-transition {
  @include transition(0.25s);
  @include transition-type(ease-in-out);
}

@mixin double-transition {
  @include transition(0.5s);
  @include transition-type(ease-in-out);
}
