@mixin heading-1 {
  font-size: 42px;
}
@mixin heading-2 {
  font-size: 36px;
}
@mixin heading-3 {
  font-size: 28px;
}
@mixin heading-4 {
  font-size: 20px;
}
@mixin body-content {
  font-size: 16px;
}
@mixin secondary-content {
  font-size: 14px;
}
@mixin footer-content {
  font-size: 12px;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-4;
}

h6 {
  @include heading-4;
}

p {
  @include body-content;
}
